:root {
  --primary: #000000;
  --primary-text: #fbfbfb;
  --secondary: #000000;
  --secondary-text: #fbfbfb;
  --tertiary: #ffb342;
  --tertiary-text: #ffffff;
  --accent: #ffffff;
  --accent-text: #505050;
}
